<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кулинарный блог</title>
    <link rel="stylesheet" href="/food/blog/static/css/style.css">
    <link rel="icon" href="/food/blog/static/icon/favicon-32x32.png">
</head>
<body>
    <header class="title">
        <h1>Добро пожаловать на мой авторский кулинарный блог.</h1>
    </header>
    <main>
        <article>
            <header>
                <h2>Паста "Карбонара"</h2>
            </header>
            <p>Паста карбонара — спагетти с мелкими кусочками гуанчиале или панчетты (иногда заменяют на бекон), смешанные с соусом из яиц, сыра пекорино романо (иногда заменяют или добавляют пармезан), соли и свежемолотого чёрного перца. Этот соус доходит до полной готовности от тепла только что сваренной пасты. Блюдо является традиционной для итальянского региона Лацио, центром которого является Рим.<a href="{% url 'pasta' %}"> Подробнее...</a></p>
        </article>

        <article>
            <header>
                <h2>Салат "Фруктовый коктейль"</h2>
            </header>
            <p>Салат «Фруктовый коктейль» - это фруктовый салат мега-быстрого приготовления. В Венеции, его там лоточники продают летом в полулитровых пластиковых стаканчиках с одноразовой пикой в придачу. К тому же фруктовый салат, состоящий из одних фруктов, без сахара и без жиров является не только вкусным, но еще и очень полезным.<a href="{% url 'salat' %}"> Подробнее...</a></p>
        </article>

        <article>
            <header>
                <h2>Луковый крем-суп</h2>
            </header>
            <p>Луковый крем-суп — простой и лёгкий в приготовлении, питательный и согревающий суп из минимального количества ингредиентов. Обычно приправляется солью, перцем, специями и травами по вкусу, такими как тимьян или петрушка. Он подаётся горячим, часто с добавлением сухариков или пармезана для придания дополнительного вкуса и текстуры.<a href="{% url 'soup' %}"> Подробнее...</a></p>
        </article>
    </main>
    <footer>
        <p class="down">Copyright (c) 2024. Все права защищены.</p>
    </footer>

    <img id="photo1" src="/food/blog/static/img/orig.webp" alt="Паста карбонара">
    <img id="photo2" src="/food/blog/static/img/salat.webp" alt="Фруктовый салат">
    <img id="photo3" src="/food/blog/static/img/soup.jpg" alt="Луковый суп">

<!-- 
    <script src="script.js">

    </script> -->
</body>
</html>