{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Паста "Карбонара"</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="/static/icon/favicon-32x32.png" type='text/css'>
</head>
<body>
    <header>
        <h2 class="headline_pasta">Пошаговое приготовление Пасты "Карбонара".</h2>
    </header>
    <main>
        <article>
            <p class="line_pasta">Паста карбонара – это классическое блюдо итальянской кухни, которое покоряет своим вкусом с первого кусочка. Быстрая и незатейливая в приготовлении паста карбонара готовится из небольшого количества компонентов и при этом получается совершенно восхитительной на вкус. Изящные ленточки спагетти, нежнейший кремовый сырный соус и ломтики сияющего, золотистого бекона - в эту простую игру контрастов, ароматов и вкусов просто невозможно не влюбиться. Попробуйте!</p>
        </article>
        
        <article>
            <h2 id="pasta_name">Ингридиенты которые нам понадобятся:</h2>
                <ul class="ingridients">
                    <li>Спагетти – 250-300 г.</li>
                    <li>Бекон/панчетта – 150 г.</li>
                    <li>Яйцо куриное (желтки) – 3 шт.</li>
                    <li>Сыр (пармезан/пекорино) - 50-70 г.</li>
                    <li>Соль – 1 щепотка (больше по вкусу)</li>
                    <li>Молотый черный перец – 1 щепотка (больше по вкусу)</li>
                    <li>Сливочное масло/оливковое масло – 20-40 г. (для жарки)</li>
                    <li>Чеснок – 1 зубчик (по желанию)</li> 
                </ul>
        </article>
            
        <article>
            <header>
                <h2 class="headline_pasta">Процесс приготовления.</h2>
            </header>
            <div class="step">
                <h3>Шаг 1.</h3>
                <p>Подготовьте все продукты по списку.</p>
                <img id="photo5" src="{% static 'img/step_one.jpg' %}" alt="Продукты"> 
                <h3>Шаг 2.</h3>
                <p>Налейте воду в кастрюлю и добавьте 1-2 щепотки соли и доведите до кипения.</p>
                <p>Добавьте спагетти и через минуту когда они станут мягкими, перемешайте их.</p> 
                <p>Варите спаггети 8-10 минут или до состояния альденте.</p>
                <img id="photo6" src="{% static 'img/step_two.jpg' %}" alt="Варка спагетти"> 
                <h3>Шаг 3.</h3>
                <p>Пока варятся спагетти, на среднем огне разогрейте 0.5-1 ст.л. оливкового масла.</p>
                <p>Затем добавьте и растопите небольшой кусочек сливочного масла.</p>
                <p>Нарежьте панчетту или бекон кубиками среднего размера.</p> 
                <p>Слегка раздавите ножом и очистите зубчик чеснока.</p> 
                <p>Добавьте бекон и чеснок в сковороду и помешивая,</p> 
                <p>обжарьте несколько минут до золотистого цвета.</p>
                <img id="photo7" src="{% static 'img/step_free.jpg' %}" alt="Обжарка бекона"> 
                <h3>Шаг 4.</h3>
                <p>Тем временем отделите яичные белки от желтков.</p> 
                <p>К желткам добавьте натертый сыр, небольшую щепотку соли</p>  
                <p>и молотого черного перца и тщательно все перемешайте.</p>
                <img id="photo8" src="{% static 'img/step_four.jpg' %}" alt="Сыр с молотым перцем, солью и желтками"> 
                <h3>Шаг 5.</h3>
                <p>Извлеките чеснок, процедите и добавьте к обжаренному бекону спагетти.</p> 
                <p>Добавьте немного воды, оставшейся от варки макарон, и смесь желтков и сыра.</p>
                <img id="photo9" src="{% static 'img/step_five.jpg' %}" alt="Сваренные спагетти"> 
                <h3>Шаг 6.</h3>
                <p>Тщательно все перемешайте 1-2 минуты.</p>
                <p>Под действием остаточного тепла сковороды и остальных компонентов сыр растает и,</p> <p>смешавшись с желтками и водой, постепенно превратится в нежнейший кремовый соус.</p>  
                <p>Густоту соуса можно отрегулировать на свой вкус, уменьшив или увеличив количество воды.</p>
                <img id="photo10" src="{% static 'img/step_six.jpg' %}" alt="Конец априготовления"> 
                <h3>Шаг 7.</h3>
                <p>Каждую порцию блюда присыпьте щепоткой натертого сыра и подавайте блюдо к столу.</p> <p>Паста карбонара готова! Приятного аппетита!</p>
                <img id="photo11" src="{% static 'img/orig.webp' %}" alt="Паста 'Карбонара'"> 
            </div>
            <a class="back" href="{% url 'home' %}"> Назад</a>
        </article>

        <img id="photo4" src="{% static 'img/pasta_anim.jpg' %}" alt="Нарисованная паста">
    </main>
</body>
</html>