{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Салат "Фруктовый коктейль"</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="/static/icon/favicon-32x32.png" type='text/css'>
</head>
<body id="bg_salat">
    <header>
        <h2 class="headline_salat">Пошаговое приготовление Салата "Фруктовый коктейль".</h2>
    </header>
    <main>
        <article>
            <p class="line_salat">Для приготовления салата по этому рецепту можно взять почти любые фрукты и ягоды, лишь бы они не были склонны к быстрому окислению, т.е. яблоки и бананы, например, лучше не брать, груши - в зависимости от сорта. Если использовать быстро окисляющиеся фрукты, то их следует обработать лимонным соком. Самое важное, что нужно для данной сервировки, - это очень большие, широкие и высокие стаканы. Приблизительный вес ингредиентов на 1 порцию указан в неочищенном виде, и их количество сильно зависит от объема посуды, в которой будет производиться сервировка.</p>
        </article>
        
        <article>
            <h2 id="salat_name">Ингридиенты которые нам понадобятся:</h2>
                <ul class="ingridients">
                    <li>Арбуз - 200 г.</li>
                    <li>Дыня - 300 г.</li>
                    <li>Виноград - 50 г.</li>
                    <li>Ананас - 300 г.</li>
                    <li>Клубника - 1 шт. (для декора)</li>
                </ul>
        </article>
            
        <article>
            <header>
                <h2 class="headline_salat">Процесс приготовления.</h2>
            </header>
            <div class="step">
                <h3>Шаг 1.</h3>
                <p>Виноград ополоснуть, сдернуть с веточки.</p></p>
                <img class="photo_salat" src="{% static 'img/salat_one.webp' %}" alt="Виноград моется"> 
                <h3>Шаг 2.</h3>
                <p>Арбуз нарезать квадратиками.</p>
                <img class="photo_salat" src="{% static 'img/salat_two.png' %}" alt="Арбуз нарезан кубиками"> 
                <h3>Шаг 3.</h3>
                <p>Дыню режем на четвертинки или на восьмушки.</p>  
                <p>Делаем по мякоти насечки вдоль, делаем насечки поперек, проводим ножом между мякотью и коркой.</p>
                <img class="photo_salat" src="{% static 'img/salat_free.jpg' %}" alt="Дыня нарезана кубиками"> 
                <h3>Шаг 4.</h3>
                <p>Скорость нарезки ананаса зависит, конечно, от того, есть ли у вас приборы для его разделки.</p>  
                <p>Спиралерезом эта процедура, с учетом удаления хвостика, занимает порядка двух минут.</p>
                <img class="photo_salat" src="{% static 'img/salat_four.jpg' %}" alt="Ананас нарезан круглешками"> 
                <h3>Шаг 5.</h3>
                <p>Шесть или восемь разрезов вдоль ананаса, чтобы получить из спирали кусочки.</p>
                <img class="photo_salat" src="{% static 'img/salat_five.jpg' %}" alt="Ананас нарезан кубиками"> 
                <h3>Шаг 6.</h3>
                <p>Ну и всё, что осталось, - это набросать ломтики фруктов и ягод в высокий и широкий стакан слоями.</p> 
                <p>Салат "Фруктовый коктейль" готов! Приятного аппетита!</p>
                <img class="photo_salat" src="{% static 'img/salat.webp' %}" alt="Салат 'Фруктовый коктейль'"> 
            </div>
            <a class="back" href="{% url 'home' %}"> Назад</a>
        </article>

        <img id="photo5" src="{% static 'img/salat_anim.webp' %}" alt="Нарисованный фруктовый салат">
    </main>
</body>
</html>